PORT=3000
NODE_ENV=development

MONGODB_URI=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SESSION_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SUPER_ADMIN_EMAIL=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=

NOTIFICATIONS_ENABLED=false
NOTIFICATION_TEST_USER_ID=